{% extends "web/admin/base_admin.html" %}

{% block head-scripts %}
<script src="https://cdn.jsdelivr.net/combine/npm/vue@2,npm/@desislavsd/vue-select@0.5.0"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@desislavsd/vue-select@0.5.0/dist/vue-select.min.css">
{% endblock %}

{% block admin-content %}
  <div class="mx-8 mt-12">
    <h2 class="text-2xl leading-6 font-medium text-gray-900">
      New Deposit
    </h2>
  </div>
  {% include 'web/includes/messages.html' %}
  <div id="app">
  <form @submit="handleSubmit" action="" method="post">
    {% csrf_token %}
      <div class="mx-8 mt-4 p-6 bg-white shadow rounded-lg">
            <div class="flex row-gap-6 col-gap-4 -mx-2 pb-4 mb-4">
                <div class="w-1/2 sm:w-3/5 px-2">
                    <label for="country" class="block text-sm font-medium leading-5 text-gray-700">
                        Student / Staff
                    </label>
                    <div class="mt-1">
                        <v-select v-model="selected.user" name="user" id="user_selection" as="name:id:id" from="{{ request.scheme }}://{{ request.site }}/api/v1/users/basic/?search=%s"></v-select>
                    </div>
                    {{ form.transactee }}
                </div>

                <div class="w-1/4 sm:w-1/5 px-2">
                    <label for="city" class="block text-sm font-medium leading-5 text-gray-700">
                        Check #
                    </label>
                    <div class="mt-1 rounded-sm">
                        {{ form.check_num }}
                    </div>
                </div>

                <div class="w-1/4 sm:w-1/5 px-2">
                    <label for="state" class="block text-sm font-medium leading-5 text-gray-700">
                        Amount
                    </label>
                    <div class="mt-1 rounded-sm">
                        {{ form.amount }}
                    </div>
                </div>
            </div>

        <div class="mt-8 border-t border-gray-200 pt-5">
            <div class="flex justify-end">
                <span class="inline-flex rounded-md shadow-sm">
                    <button type="button" class="py-2 px-4 border border-gray-300 rounded-md text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
                        Cancel
                    </button>
                </span>
                <span class="ml-3 inline-flex rounded-md shadow-sm">
                    <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                        Save
                    </button>
                </span>
            </div>
        </div>
    </div>
</form>
</div>
{% endblock %}

{% block end-scripts %}
<script>
new Vue({
  el: "#app",
  components: { vSelect: VueSelect.vSelect },
  data: {
    selected: {
        user: '',
    },
  },
  methods: {
    setSelected(value) {
        this.selected = value
    },
    handleSubmit() {
        document.getElementById("id_transactee").value = this.selected.user
    }
  }
});
</script>
{% endblock %}
