django==6.0.2
djangorestframework==3.16.1
django-auth-adfs==1.16.0
psycopg==3.3.3
gunicorn==25.1.0
python-dotenv==1.2.1
reportlab==4.4.10
XlsxWriter==3.2.9
django-mathfilters==1.0.0
pypowerschool==0.2.0
sentry-sdk[django]==2.53.0
django-solo==2.5.1