django==3.2.4
djangorestframework==3.12.4
django-auth-adfs==1.7.0
psycopg2-binary==2.8.6
gunicorn==20.1.0
python-dotenv==0.17.1
reportlab==3.5.67
XlsxWriter==1.4.3
django-constance[database]==2.8.0
mozilla-django-oidc==1.2.4