django==5.2.11
djangorestframework==3.16.1
django-auth-adfs==1.16.0
psycopg==3.3.2
gunicorn==25.0.3
python-dotenv==1.2.1
reportlab==4.4.9
XlsxWriter==3.2.9
django-mathfilters==1.0.0
pypowerschool==0.2.0
sentry-sdk[django]==2.52.0
django-solo==2.5.1