{% extends "web/user/base_user.html" %}
{% block user-content %}
<div class="mt-4 p-8 bg-white">
  <div class="max-w-screen-md mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <p class="text-base leading-6 text-indigo-700 font-semibold tracking-wide uppercase">
        {% now "l, F jS" %}
      </p>
      <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        Today's Lunch Options
      </h3>
    </div>
    {% if not orders_open %}
        <div class="lg:text-center">
            <p class="mt-8 max-w-2xl text-xl leading-7 text-gray-500 lg:mx-auto">
              Sorry, the cafeteria is no longer accepting orders today.
            </p>
          </div>
          {% endif %}
    <div class="mt-10">
    {% include 'web/includes/messages.html' %}
    {% if menu %}
    <ul class="md:grid md:grid-cols-2 md:col-gap-8 md:row-gap-10">
      {% for item in menu %}
      <li {% if not forloop.first %}class="mt-10 md:mt-0"{% endif %}>
        <div class="flex">
          <div class="bg-white text-left py-2 px-4 border border-gray-400 rounded shadow">
            <h4 class="mt-4 text-lg leading-6 font-medium text-gray-900">
              {{ item.name }}
            </h4>
            <p class="mt-2 text-base leading-6 text-gray-500">
              {{ item.description }}
            </p>
            <h6 class="mt-2 mb-4 text-lg leading-6 text-gray-900">
              ${{ item.cost }}
            </h6>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% if not orders_open %}
        <div class="lg:text-center">
            <p class="mt-12 max-w-2xl text-xl leading-7 font-medium text-gray-700 lg:mx-auto">
              Your homeroom's order for today.
            </p>
          </div>
          {% endif %}
    <div class="{% if orders_open %}mt-12{% else %}mt-2{% endif %} mb-6 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
      <form action="{% url 'submit' %}" method="post">
        {% csrf_token %}
        <div class="align-middle inline-block min-w-full shadow-xs overflow-hidden rounded">
          <table class="min-w-full divide-y divide-gray-200">
            <tbody class="bg-white divide-y divide-gray-200">
              {% for transaction in homeroom_transactions|dictsort:'student.last_first' %}
              <tr class="{% cycle 'bg-gray-100' 'bg-white' %}">
                <td class="px-6 py-4 whitespace-no-wrap text-left border-b border-gray-200 text-lg leading-5 text-gray-900">
                  {{ transaction.student.last_first }}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-left border-b border-gray-200 text-sm leading-5 text-gray-900">
                {% if orders_open %}
                  <div class="relative">
                    <select name="orders" id="order-{{ transaction.student.id }}" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                      <option value="{'person': {{ transaction.student.id }}, 'item': ''}" {% if transaction.transaction is None %}selected{% endif %}>No order</option>
                      {% for item in menu %}
                      <option value="{'person': {{ transaction.student.id }}, 'item': {{ item.id }}}" {% if transaction.transaction.description == item.name %}selected{% endif %}>{{ item.name }}</option>
                      {% endfor %}
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                      </svg>
                    </div>
                  </div>
                {% else %}
                {{ transaction.transaction.description|default:"No order" }}
                {% endif %}
                </td>
              </tr>
              {% endfor %}
              <tr class="bg-indigo-200">
                <td class="px-6 py-4 whitespace-no-wrap text-left border-b border-gray-200 text-lg leading-5 text-gray-900">
                  {{ user.profile.last_first }}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-left border-b border-gray-200 text-sm leading-5 text-gray-900">
                  {% if orders_open %}
                  <div class="relative">
                    <select name="orders" id="order-{{ user.profile.id }}" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                      <option value="{'person': {{ user.profile.id }}, 'item': ''}" {% if transaction is None %}selected{% endif %}>No order</option>
                      {% for item in menu %}
                      <option value="{'person': {{ user.profile.id }}, 'item': {{ item.id }}}" {% if transaction.description == item.name %}selected{% endif %}>{{ item.name }}</option>
                      {% endfor %}
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                      </svg>
                    </div>
                  </div>
                  {% else %}
                {{ transaction.description|default:"No order" }}
                {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        {% if orders_open %}
        <div class="mt-6 px-12 py-3 sm:px-48">
          <span class="w-full rounded-md shadow-sm sm:w-auto">
            <input type="submit" value="Submit" class="w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green">
          </span>
        </div>
        {% endif %}
      </form>
    </div>
    {% else %}
    <h4 class="mt-2 lg:text-center font-bold tracking-tight text-gray-900 sm:leading-10">
      There are no lunch items available today.
    </h4>
    {% endif %}
  </div>
</div>
{% endblock  %}