{% extends "guardian/base_guardian.html" %}
{% block user-content %}
{% include 'includes/messages.html' %}
<div class="mt-4 px-8 py-4 bg-white shadow">
  <div class="mx-auto px-4 sm:px-16 lg:px-24">
{% if children %}
{% for child in children %}
    <div class="px-4 {% if not forloop.first%}pt-8{% else %}pt-4{% endif %} border-b border-gray-200 pb-8 sm:px-6">
      <div class="flex justify-between items-center flex-wrap sm:flex-nowrap">
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            {{ child.name }}
          </h3>
          <div class="mt-1 flex flex-col sm:mt-0 sm:flex-row sm:flex-wrap">
            <div class="mt-1 flex items-center text-m leading-5 text-gray-700 sm:text-l sm:mt-2 sm:mr-6">
              <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-green-500 sm:h-6 sm:w-6" viewBox="0 0 20 20" fill="currentColor">
                <path
                  d="M8.433 7.418c.155-.103.346-.196.567-.267v1.698a2.305 2.305 0 01-.567-.267C8.07 8.34 8 8.114 8 8c0-.114.07-.34.433-.582zM11 12.849v-1.698c.22.071.412.164.567.267.364.243.433.468.433.582 0 .114-.07.34-.433.582a2.305 2.305 0 01-.567.267z" />
                <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a1 1 0 10-2 0v.092a4.535 4.535 0 00-1.676.662C6.602 6.234 6 7.009 6 8c0 .99.602 1.765 1.324 2.246.48.32 1.054.545 1.676.662v1.941c-.391-.127-.68-.317-.843-.504a1 1 0 10-1.51 1.31c.562.649 1.413 1.076 2.353 1.253V15a1 1 0 102 0v-.092a4.535 4.535 0 001.676-.662C13.398 13.766 14 12.991 14 12c0-.99-.602-1.765-1.324-2.246A4.535 4.535 0 0011 9.092V7.151c.391.127.68.317.843.504a1 1 0 101.511-1.31c-.563-.649-1.413-1.076-2.354-1.253V5z"
                  clip-rule="evenodd" />
              </svg>
              Current balance:<span
                class="ml-1 font-bold {% if user.profile.current_balance < 0 %}text-red-700{% else %}text-gray-900{% endif %}">${{ child.current_balance }}</span>
            </div>
          </div>
          <div>
            <div class="mt-4 text-m leading-5 text-gray-700 sm:text-l sm:mt-8 sm:mr-6">
              <label for="order-{{ child.id }}">Today's order:</label>
              <select id="order-{{ child.id }}" name="order-{{ child.id }}" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                <option value="" selected>None</option>
                {% for item in menu %}
                  <option value="{{ item.id }}">{{ item.name }} - ${{ item.cost }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="justify-self-end mt-8 sm:self-end flex-shrink-0">
          <a class="inline-flex items-center text-indigo-700" href="#">
            <span class="hover:underline">View Transactions</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="ml-3 mb-1 icon icon-tabler icon-tabler-chevron-right" width="20" height="20" viewBox="0 0 20 20" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <polyline points="9 6 15 12 9 18" />
            </svg>
          </a>
        </div>
      </div>
    </div>
{% endfor %}
<div class="mt-10 mb-6">
  <div class="flex justify-center">
    <button type="submit"
      class="inline-flex justify-center py-2 px-4 border border-transparent text-lg leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 active:bg-indigo-700 transition duration-150 ease-in-out">
      Submit Order
    </button>
  </div>
</div>
{% endif %}
  </div>
</div>
{% endblock %}
</div>