{% extends "admin/base_admin.html" %}

{% block admin-content %}
  <h3 class="ml-8 mt-12 text-2xl leading-6 font-medium text-gray-700">
    Settings
  </h3>
      <div class="relative max-w-4xl mx-auto md:px-8 xl:px-0">
        <div class="pt-6 pb-16">
          <div class="px-4 sm:px-6 md:px-0">
            <div class="py-0">
              <!-- Tabs -->
              <div x-data="{ tab: '{{ section }}' }">
              <div class="lg:hidden">
                <label for="selected-tab" class="sr-only">Select a tab</label>
                <select id="selected-tab" name="selected-tab" x-model="tab" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md">
                  <option value="general">General</option>
                  <option value="schools">Schools</option>
                </select>
              </div>
              <div class="hidden lg:block">
                <div class="border-b border-gray-200">
                  <nav class="-mb-px flex">
                    <button :class="{ 'border-blue-500 text-blue-700 active': tab === 'general', 'border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700': tab != 'general' }" @click="tab = 'general'" class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm focus:outline-none">
                      General
                    </button>
                    <button :class="{ 'border-blue-500 text-blue-700 active': tab === 'schools', 'border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700': tab != 'schools' }" @click="tab = 'schools'" class="whitespace-nowrap ml-8 py-4 px-1 border-b-2 font-medium text-sm focus:outline-none">
                      Schools
                    </button>
                  </nav>
                </div>
              </div>

              <div x-show="tab === 'general'" class="mt-10 divide-y divide-gray-200">
                <div class="space-y-1">
                  <form action="{% url 'settings' %}" method="post" class="space-y-8">
                    {% csrf_token %}
                    <div>
                      <div>
                        <h3 class="text-lg leading-6 font-medium text-gray-900">
                          Operating Hours
                        </h3>
                      </div>
                      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-8 sm:grid-cols-6">
                        <div class="sm:col-span-2">
                          <label for="{{ general_form.open_time.id_for_label }}" class="block text-sm font-medium text-gray-700">
                            Orders Open
                          </label>
                          <div class="mt-1">
                            {{ general_form.open_time }}
                          </div>
                          <p class="mt-2 text-xs text-gray-500" id="open-time-description">Anytime after the close time is assumed to be the previous day.</p>
                        </div>
                        <div class="sm:col-span-2">
                          <label for="{{ general_form.close_time.id_for_label }}" class="block text-sm font-medium text-gray-700">
                            Orders Close
                          </label>
                          <div class="mt-1">
                            {{ general_form.close_time }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pt-8">
                      <div>
                        <h3 class="text-lg leading-6 font-medium text-gray-900">
                          Reports Email Addresses
                        </h3>
                      </div>
                      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-8 sm:grid-cols-6">
                        <div class="sm:col-span-3">
                          <label for="{{ general_form.reports_email.id_for_label }}" class="block text-sm font-medium text-gray-700">
                            Email Addresses
                          </label>
                          <div class="mt-1">
                            {{ general_form.reports_email }}
                          </div>
                          <p class="mt-2 text-xs text-gray-500" id="open-time-description">Multiple email addresses should be seperated with a comma.</p>
                        </div>
                      </div>
                    </div>
                    <div class="pt-8">
                      <div>
                        <h3 class="text-lg leading-6 font-medium text-gray-900">
                          Current Balance Export
                        </h3>
                      </div>
                      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-8 sm:grid-cols-6">
                        <div class="sm:col-span-3">
                          <label for="{{ general_form.balance_export_path.id_for_label }}" class="block text-sm font-medium text-gray-700">
                            Export Path
                          </label>
                          <div class="mt-1">
                            {{ general_form.balance_export_path }}
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="pt-5">
                      <div class="flex justify-end">
                        <button type="button" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                          Cancel
                        </button>
                        <button type="submit" name="general-settings" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                          Save
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <div x-show="tab === 'schools'" class="mt-10 divide-y divide-gray-200">
                <div class="space-y-1">
                  <div>
                    {% if schools_count > 0 %}
                      <div>
                        <p class="mt-1 text-sm text-gray-500">
                          Below you can select the schools you would like to include when syncing data with PowerSchool, as well as assign each one a friendly name.
                        </p>
                      </div>

                      <form action="{% url 'settings' %}" method="post" class="space-y-8 divide-y divide-gray-200">
                      {% csrf_token %}
                      {{ schools_formset.management_form }}
                        <div class="mt-8 flex flex-col">
                          <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                              <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                <table class="min-w-full divide-y divide-gray-200">
                                  <thead class="bg-gray-50">
                                    <tr>
                                      <th scope="col" class="w-auto px-2 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Active
                                      </th>
                                      <th scope="col" class="w-auto px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        School
                                      </th>
                                      <th scope="col" class="w-full px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Friendly Name
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for form in schools_formset %}
                                    {{ form.id }}
                                    {{ form.errors }}
                                    <tr {% if forloop.counter|divisibleby:2 %} class="bg-gray-50" {% else %} class="bg-white" {% endif %}>
                                      <td class="px-2 py-4 text-center whitespace-nowrap">
                                        {{ form.active }}
                                      </td>
                                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                        {{ form.name }}{{ form.name.value }}
                                      </td>
                                      <td class="px-4 py-4 whitespace-nowrap text-sm text-gray-500">
                                        {{ form.display_name }}
                                      </td>
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="pt-5">
                          <div class="flex justify-end">
                            <button type="button" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                              Cancel
                            </button>
                            <button type="submit" name="school-settings" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                              Save
                            </button>
                          </div>
                        </div>
                      </form>
                    {% else %}
                    <h3 class="text-lg leading-6 font-medium text-gray-900">
                      Initial sync required
                    </h3>
                    <p class="mt-1 text-sm text-gray-500">
                      You will first need to install the required PowerSchool plugin and perform an initial sync of the schools in your district.
                    </p>
                    {% endif %}

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
{% endblock %}