{% extends "admin/base_admin.html" %}
{% block head-scripts %}
<script
  src="https://cdn.jsdelivr.net/combine/npm/luxon@1,npm/vue@2,npm/@desislavsd/vue-select@0.5.0,npm/vue-datetime@1.0.0-beta.14">
</script>
<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/combine/npm/@desislavsd/vue-select@0.5.0/dist/vue-select.min.css,npm/vue-datetime@1.0.0-beta.14/dist/vue-datetime.min.css" />
{% endblock %}
{% block admin-content %}
<div class="mx-8 mt-12">
  <h2 class="text-2xl leading-6 font-medium text-gray-900">New Deposit</h2>
</div>
<div id="app">
  <form @submit="handleSubmit" action="" method="post">
    {% csrf_token %}
    <div class="mx-8 mt-4 p-6 bg-white shadow rounded-lg">
      <div class="flex gap-y-6 gap-x-4 -mx-2 pb-4 mb-4">
        {{ form.errors }}
        <div class="w-3/5 sm:w-3/5 px-2">
          <label for="user" class="block text-sm font-medium leading-5 text-gray-700">
            Student / Staff
          </label>
          <div class="mt-1">
            <v-select v-model="selected.user" name="user" id="user_selection" as="name:id:id"
              from="{{ request.scheme }}://{{ request.site }}/api/v1/users/basic/?search=%s"></v-select>
          </div>
          {{ form.transactee }}
        </div>

        <div class="w-1/5 sm:w-1/5 px-2">
          <label for="check_num" class="block text-sm font-medium leading-5 text-gray-700">
            Check #
          </label>
          <div class="mt-1 rounded-sm">{{ form.check_num }}</div>
          <p class="block text-xs font-extralight text-gray-500">
            <i><strong>lc</strong></i> - lunch card<br /><i><strong>st</strong></i>
            - sibling transfer
          </p>
        </div>

        <div class="w-1/5 sm:w-1/5 px-2">
          <label for="amount" class="block text-sm font-medium leading-5 text-gray-700">
            Amount
          </label>
          <div class="mt-1 rounded-sm">{{ form.amount }}</div>
        </div>

        <div class="w-1/5 sm:w-1/5 px-2">
          <label for="amount" class="block text-sm font-medium leading-5 text-gray-700">
            Submitted
          </label>
          <div class="mt-1 rounded-sm">
            <v-datetime v-model="selected.submitted" ref="submitTime" type="datetime" minute-step="5" use12-hour="true"
              week-start="7" input-id="submit-time"
              input-class="border border-gray-400 py-2 px-2 text-xs rounded-sm block w-full transition duration-150 ease-in-out">
            </v-datetime>
          </div>
          {{ form.submitted }}
        </div>
      </div>

      <div class="mt-8 border-t border-gray-200 pt-5">
        <div class="flex justify-end">
          <span class="inline-flex rounded-md shadow-sm">
            <a href="{% url 'transaction-today-deposits' %}">
              <button type="button"
                class="py-2 px-4 border border-gray-300 rounded-md text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
                Cancel
              </button>
            </a>
          </span>
          <span class="ml-3 inline-flex rounded-md shadow-sm">
            <button type="submit"
              class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 active:bg-indigo-700 transition duration-150 ease-in-out">
              Save
            </button>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
{% block end-scripts %}
<script>
  new Vue({
    el: "#app",
    components: {
      vSelect: VueSelect.vSelect,
      "v-datetime": VueDatetime.Datetime,
    },
    data: {
      selected: {
        user: "",
        submitted: "",
      },
    },
    mounted: function () {
      this.$refs.submitTime.datetime = luxon.DateTime.local();
    },
    methods: {
      setSelected(value) {
        this.selected = value;
      },
      handleSubmit() {
        document.getElementById("id_transactee").value = this.selected.user;
        document.getElementById("id_submitted").value = this.selected.submitted;
      },
    },
  });
</script>
{% endblock %}