{% extends "admin/base_admin.html" %}
{% block head-scripts %}
<script src="https://cdn.jsdelivr.net/combine/npm/jquery@3.6.0,npm/select2@4.0.13"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css">
{% endblock %}

{% block admin-content %}
<div class="mx-8 mt-12">
  <h2 class="text-2xl leading-6 font-medium text-gray-900">New Order</h2>
</div>
<div id="app">
  <form action="" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="mx-8 mt-4 p-6 bg-white shadow rounded-lg">
      <div class="grid grid-cols-8 gap-y-2 gap-x-4 -mx-2 pb-4 mb-4">
        <div class="col-start-1 col-span-7 sm:col-span-5 px-2">
          <label for="user" class="block text-sm font-medium leading-5 text-gray-700">
            Student / Staff
          </label>
          <div class="mt-1">
            <select class="transactee-select-ajax" name="transactee" style="width: 100%">
            </select>
          </div>
        </div>
        <div class="col-start-1 col-span-3 sm:col-span-4 px-2">
          <div id="order-formset">
            {% for form in formset %}
              <div class="menu-item-row mt-4">
                <label for="{{ form.menu_item.html_name }}" class="block text-sm font-medium leading-5 text-gray-700">{{ form.menu_item.label }}</label>
                <div class="mt-1 flex items-center">
                  <div class="mr-2">
                    {{ form.menu_item }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-start-1 col-span-2 px-2">
          <button type="button" id="add-item" class="mt-6 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-green-600 hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
            <!-- Tabler name: icons/plus-->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <line x1="12" y1="5" x2="12" y2="19" />
              <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
            <span>Add Item</span>
          </button>
        </div>
      </div>
      <div class="mt-8 border-t border-gray-200 pt-5">
        <div class="flex justify-end">
          <span class="inline-flex rounded-md shadow-sm">
            <a href="{% url 'transaction-today-orders' %}">
              <button type="button"
                class="py-2 px-4 border border-gray-300 rounded-md text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
                Cancel
              </button>
            </a>
          </span>
          <span class="ml-3 inline-flex rounded-md shadow-sm">
            <button type="submit"
              class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 active:bg-indigo-700 transition duration-150 ease-in-out">
              Save
            </button>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>

{% comment %} Template for adding additional menu items. {% endcomment %}
<div id="empty-menu-item-row"  style="display:none">
  <div class="menu-item-row mt-4">
    <label for="{{ formset.empty_form.menu_item.html_name }}" class="block text-sm font-medium text-gray-700">{{ formset.empty_form.menu_item.label }}</label>
    <div class="mt-1 flex items-center">
      <div class="mr-2">
        {{ formset.empty_form.menu_item }}
      </div>
      <button type="button" class="remove-item inline-flex items-center p-1 border border-transparent rounded-full shadow-sm text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
        <!-- Tabler name: icon/x-->
        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      </button>
    </div>
  </div>
</div>
{% endblock %}

{% block end-scripts %}
<script type='text/javascript'>
$('#add-item').on('click', function(e){
  e.preventDefault()
  var form_index = $('#id_order_form-TOTAL_FORMS').val();
  $('#order-formset').append($('#empty-menu-item-row').html().replace(/__prefix__/g, form_index));
  $('#id_order_form-TOTAL_FORMS').val(parseInt(form_index) + 1);
});

$(document).ready(function() {
  $('.transactee-select-ajax').select2({
    ajax: {
      url: '{{ request.scheme }}://{{ request.site }}/api/v1/users/basic/',
      dataType: 'json',
      data: function (params) {
        var query = {
          search: params.term
        }
        return query;
      },
      processResults: function (data) {
        return {
          results: data
        };
      }
    },
    minimumInputLength: 3,
    placeholder: 'Search students/staff...',
    width: 'resolve'
  });
});

$(document).on('click', '.remove-item', function(e){
  e.preventDefault()
  var form_index = $('#id_order_form-TOTAL_FORMS').val();
  $(this).closest('.menu-item-row').remove();
  $('#id_order_form-TOTAL_FORMS').val(parseInt(form_index) - 1);
  var forms = $('.menu-item-row')
  for (i=0, formCount=forms.length; i<formCount; i++) {
    $(forms.get(i)).find('label').attr('for', 'order_form-' + i + '-menu_item');
    $(forms.get(i)).find('select').attr('name', 'order_form-' + i + '-menu_item');
    $(forms.get(i)).find('label').attr('id', 'id_order_form-' + i + '-menu_item');
}
});
</script>
{% endblock %}