{% extends "admin/base_admin.html" %}
{% block head-scripts %}
<script
  src="https://cdn.jsdelivr.net/combine/npm/luxon@1,npm/vue@2,npm/@desislavsd/vue-select@0.5.0,npm/vue-datetime@1.0.0-beta.14">
</script>
<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/combine/npm/@desislavsd/vue-select@0.5.0/dist/vue-select.min.css,npm/vue-datetime@1.0.0-beta.14/dist/vue-datetime.min.css" />
{% endblock %}
{% block admin-content %}
<div class="mx-8 mt-12">
  <h2 class="text-2xl leading-6 font-medium text-gray-900">New Order</h2>
</div>
<div id="app">
  <form @submit="handleSubmit" action="" method="post">
    {% csrf_token %}
    <div class="mx-8 mt-4 p-6 bg-white shadow rounded-lg">
      <div class="grid grid-cols-8 row-gap-6 col-gap-4 -mx-2 pb-4 mb-4">
        <div class="col-start-1 col-span-7 sm:col-span-5 px-2">
          <label for="user" class="block text-sm font-medium leading-5 text-gray-700">
            Student / Staff
          </label>
          <div class="mt-1">
            <v-select v-model="selected.user" id="user_selection" as="name:id:id"
              from="{{ request.scheme }}://{{ request.site }}/api/v1/users/basic/?search=%s"></v-select>
          </div>
          {{ form.transactee }}
        </div>
        <div class="col-start-1 col-span-3 sm:col-span-4 px-2">
          <label for="item" class="block text-sm font-medium leading-5 text-gray-700">
            Menu Item
          </label>
          <div class="mt-1">
            <v-select v-model="selected.menu_item" v-on:change="menuSelection" id="menu_item_selection" as="name::id"
              from="{{ request.scheme }}://{{ request.site }}/api/v1/menu/?search=%s"></v-select>
          </div>
          {{ form.menu_item }}
        </div>
        <div class="col-span-2 px-2">
          <label for="submit-time" class="block text-sm font-medium leading-5 text-gray-700">
            Submitted
          </label>
          <div class="mt-1 rounded-sm">
            <v-datetime v-model="selected.submitted" ref="submitTime" type="datetime" minute-step="5" use12-hour="true"
              week-start="7" input-id="submit-time"
              input-class="border border-gray-400 py-2 px-2 text-xs rounded-sm block w-full transition duration-150 ease-in-out">
            </v-datetime>
          </div>
          {{ form.submitted }}
        </div>
      </div>
      <div class="mt-8 border-t border-gray-200 pt-5">
        <div class="flex justify-end">
          <span class="inline-flex rounded-md shadow-sm">
            <a href="{% url 'transaction-today-orders' %}">
              <button type="button"
                class="py-2 px-4 border border-gray-300 rounded-md text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
                Cancel
              </button>
            </a>
          </span>
          <span class="ml-3 inline-flex rounded-md shadow-sm">
            <button type="submit"
              class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
              Save
            </button>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
{% block end-scripts %}
<script>
  new Vue({
    el: "#app",
    components: {
      vSelect: VueSelect.vSelect,
      "v-datetime": VueDatetime.Datetime,
    },
    data: {
      selected: {
        user: "",
        menu_item: "",
        submitted: "",
      },
    },
    methods: {
      menuSelection(value) {
        var now = luxon.DateTime.local();
        var selected_item = this.selected.menu_item.name.toLowerCase();
        if (selected_item.includes("forgot to order")) {
          var submitted = luxon.DateTime.local(
            now.year,
            now.month,
            now.day,
            9,
            30
          );
        } else {
          var submitted = luxon.DateTime.local(now.year, now.month, now.day, 8);
        }
        this.$refs.submitTime.datetime = submitted;
        this.selected.submitted = submitted;
      },
      handleSubmit() {
        document.getElementById("id_transactee").value = this.selected.user;
        document.getElementById(
          "id_menu_item"
        ).value = this.selected.menu_item.id;
        document.getElementById("id_submitted").value = this.selected.submitted;
      },
    },
  });
</script>
{% endblock %}