<nav class="px-2 space-y-1">
  <a href="{% url 'admin' %}"
    class="group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md text-gray-100 hover:text-white hover:bg-blue-500 focus:outline-none focus:bg-blue-500  transition ease-in-out duration-150">
    <svg xmlns="http://www.w3.org/2000/svg"
      class="mr-4 h-6 w-6 text-gray-300 group-hover:text-gray-200 group-focus:text-gray-200 transition ease-in-out duration-150"
      width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
      stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" />
      <polyline points="5 12 3 12 12 3 21 12 19 12" />
      <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
      <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
    </svg>
    Home
  </a>
</nav>
</div>
<hr class="h-px mt-6 bg-blue-700 border-none">
<div class="mt-6 overflow-y-auto">
  <nav class="px-2 space-y-1">
    <a href="{% url 'transaction-today-orders' %}"
      class="group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md text-gray-100 hover:text-white hover:bg-blue-500 focus:outline-none focus:bg-blue-500  transition ease-in-out duration-150">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="mr-4 h-6 w-6 text-gray-300 group-hover:text-gray-200 group-focus:text-gray-200 transition ease-in-out duration-150"
        width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
        stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" />
        <rect x="4" y="5" width="16" height="16" rx="2" />
        <line x1="16" y1="3" x2="16" y2="7" />
        <line x1="8" y1="3" x2="8" y2="7" />
        <line x1="4" y1="11" x2="20" y2="11" />
        <line x1="11" y1="15" x2="12" y2="15" />
        <line x1="12" y1="15" x2="12" y2="18" />
      </svg>
      Today's Orders
    </a>

    <a href="{% url 'transaction-orders' %}"
      class="group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md text-gray-100 hover:text-white hover:bg-blue-500 focus:outline-none focus:bg-blue-500  transition ease-in-out duration-150">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="mr-4 h-6 w-6 text-gray-300 group-hover:text-gray-200 group-focus:text-gray-200 transition ease-in-out duration-150"
        width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
        stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" />
        <line x1="4" y1="6" x2="20" y2="6" />
        <line x1="4" y1="12" x2="20" y2="12" />
        <line x1="4" y1="18" x2="20" y2="18" />
      </svg>
      All Orders
    </a>

    <a href="{% url 'transaction-order-create' %}"
      class="group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md text-gray-100 hover:text-white hover:bg-blue-500 focus:outline-none focus:bg-blue-500  transition ease-in-out duration-150">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="mr-4 h-6 w-6 text-gray-300 group-hover:text-gray-200 group-focus:text-gray-200 transition ease-in-out duration-150"
        width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
        stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" />
        <line x1="12" y1="5" x2="12" y2="19" />
        <line x1="5" y1="12" x2="19" y2="12" />
      </svg>
      New Order
    </a>

  </nav>
</div>
<hr class="h-px mt-6 bg-blue-700 border-none">
<div class="mt-6 overflow-y-auto">
  <nav class="px-2 space-y-1">
    <a href="{% url 'transaction-today-deposits' %}"
      class="group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md text-gray-100 hover:text-white hover:bg-blue-500 focus:outline-none focus:bg-blue-500  transition ease-in-out duration-150">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="mr-4 h-6 w-6 text-gray-300 group-hover:text-gray-200 group-focus:text-gray-200 transition ease-in-out duration-150"
        width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
        stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" />
        <rect x="4" y="5" width="16" height="16" rx="2" />
        <line x1="16" y1="3" x2="16" y2="7" />
        <line x1="8" y1="3" x2="8" y2="7" />
        <line x1="4" y1="11" x2="20" y2="11" />
        <line x1="11" y1="15" x2="12" y2="15" />
        <line x1="12" y1="15" x2="12" y2="18" />
      </svg>
      Today's Deposits
    </a>

    <a href="{% url 'transaction-deposits' %}"
      class="group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md text-gray-100 hover:text-white hover:bg-blue-500 focus:outline-none focus:bg-blue-500  transition ease-in-out duration-150">
      <svg
        class="mr-4 h-6 w-6 text-gray-300 group-hover:text-gray-200 group-focus:text-gray-200 transition ease-in-out duration-150"
        fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3">
        </path>
      </svg>
      All Deposits
    </a>

    <a href="{% url 'transaction-deposit-create' %}"
      class="group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md text-gray-100 hover:text-white hover:bg-blue-500 focus:outline-none focus:bg-blue-500  transition ease-in-out duration-150">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="mr-4 h-6 w-6 text-gray-300 group-hover:text-gray-200 group-focus:text-gray-200 transition ease-in-out duration-150"
        width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
        stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" />
        <line x1="12" y1="5" x2="12" y2="19" />
        <line x1="5" y1="12" x2="19" y2="12" />
      </svg>
      New Deposit
    </a>

    <a href="{% url 'transaction-deposits-batch' %}"
      class="group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md text-gray-100 hover:text-white hover:bg-blue-500 focus:outline-none focus:bg-blue-500  transition ease-in-out duration-150">
      <svg
        class="mr-4 h-6 w-6 text-gray-300 group-hover:text-gray-200 group-focus:text-gray-200 transition ease-in-out duration-150"
        fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z">
        </path>
      </svg>
      Batch Deposits
    </a>
  </nav>
</div>

<hr class="h-px mt-6 bg-blue-700 border-none">
<div class="mt-6 flex-1 h-0 overflow-y-auto">
  <nav class="px-2 space-y-1">
    <a href="{% url 'django_auth_adfs:logout' %}"
      class="group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md text-gray-100 hover:text-white hover:bg-blue-500 focus:outline-none focus:bg-blue-500 transition ease-in-out duration-150">
      <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 h-6 w-6 text-gray-200 transition ease-in-out duration-150"
        width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
        stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" />
        <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
        <path d="M7 12h14l-3 -3m0 6l3 -3" />
      </svg>
      Sign out
    </a>
  </nav>