{% extends "web/admin/base_admin.html" %}

{% block head-scripts %}
<script src="https://cdn.jsdelivr.net/combine/npm/vue@2,npm/@desislavsd/vue-select@0.5.0"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@desislavsd/vue-select@0.5.0/dist/vue-select.min.css">
{% endblock %}

{% block admin-content %}
  <div class="mx-8 mt-12">
    <h2 class="text-2xl leading-6 font-medium text-gray-900">
      Batch Deposits
    </h2>
    <p class="mt-1 text-sm leading-5 text-gray-500">
      You can enter deposit information for up to 25 students below.
    </p>
  </div>
  {% include 'web/includes/messages.html' %}
  <div id="app">
  <form @submit="handleSubmit" action="" method="post">
    {% csrf_token %}
  <div class="mx-8 mt-4 p-6 bg-white shadow rounded-lg">
    {{ form.management_form }}
    {% for deposit_form in form %}
      {{ depost_form.non_field_errors }}
      {{ deposit_form.errors }}
        <div class="flex row-gap-6 col-gap-4 -mx-2 pb-4 mb-4">
            <div class="w-1/2 sm:w-3/5 px-2">
                <label for="user_{{ forloop.counter0 }}" class="block text-sm font-medium leading-5 text-gray-700">
                    Student / Staff
                </label>
                <div class="mt-1">
                    <v-select v-model="selected.user_{{ forloop.counter0 }}" name="user_{{ forloop.counter0 }}" as="name:id:id" from="{{ request.scheme }}://{{ request.site }}/api/v1/users/basic/?search=%s"></v-select>
                </div>
                {{ deposit_form.transactee }}
            </div>

            <div class="w-1/4 sm:w-1/5 px-2">
                <label for="form-{{ forloop.counter0 }}-check_num" class="block text-sm font-medium leading-5 text-gray-700">
                    Check #
                </label>
                <div class="mt-1 rounded-sm">
                    {{ deposit_form.check_num }}
                </div>
                <p class="block text-xs font-thin text-gray-500">
                  <i><strong>lc</strong></i> - lunch card, <i><strong>st</strong></i> - sibling transfer
                </p>
            </div>

            <div class="w-1/4 sm:w-1/5 px-2">
                <label for="form-{{ forloop.counter0 }}-amount" class="block text-sm font-medium leading-5 text-gray-700">
                    Amount
                </label>
                <div class="mt-1 rounded-sm">
                    {{ deposit_form.amount }}
                </div>
            </div>
        </div>
    {% endfor %}
  </div>
  <div class="mt-8 border-t border-gray-200">
    <div class="flex justify-end">
      <span class="mr-8 inline-flex rounded-md shadow-sm">
        <button type="submit" class="inline-flex justify-center py-2 px-8 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-blue-600 hover:bg-blue-500 focus:outline-none focus:border-blue-700 focus:shadow-outline-blue active:bg-blue-700 transition duration-150 ease-in-out">
          Save
        </button>
      </span>
    </div>
  </div>
</form>
</div>
{% endblock %}

{% block end-scripts %}
<script>
new Vue({
  el: "#app",
  components: { vSelect: VueSelect.vSelect },
  data: {
    selected: {
        {% for i in form %}
            user_{{ forloop.counter0 }}: '',
        {% endfor %}
    },
  },
  methods: {
    setSelected(value) {
        this.selected = value
    },
    handleSubmit() {
        {% for i in form %}
            document.getElementById("id_form-{{ forloop.counter0 }}-transactee").value = this.selected.user_{{ forloop.counter0 }}
        {% endfor %}
    }
  }
});
</script>
{% endblock %}
