{% extends "web/admin/base_admin.html" %}

{% block head-scripts %}
<script src="https://cdn.jsdelivr.net/combine/npm/vue@2,npm/@desislavsd/vue-select@0.5.0"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@desislavsd/vue-select@0.5.0/dist/vue-select.min.css">
{% endblock %}

{% block admin-content %}
<h3 class="ml-8 mt-12 text-2xl leading-6 font-medium text-gray-700">
    {% if view.filter == "deposits" %}
        Deposit Details
    {% elif view.filter == "orders" %}
        Order Details
    {% else %}
        Transaction Details
    {% endif %}
</h3>
  {% include 'web/includes/messages.html' %}
      <div class="mx-8 mt-4 p-6 bg-white shadow rounded-lg">
        <div>
            <div class="mt-6 grid grid-cols-1 row-gap-5 col-gap-4 sm:grid-cols-4">
                <div class="sm:col-span-4">
                    <label for="country" class="block text-sm font-medium leading-5 text-gray-700">
                        Student / Staff
                    </label>
                    <div class="mt-1 rounded-md shadow-sm">
                        <p>{{ object.transactee }}</p>
                    </div>
                </div>

                <div class="sm:col-span-2">
                    <label for="city" class="block text-sm font-medium leading-5 text-gray-700">
                        Amount
                    </label>
                    <div class="mt-1 rounded-md shadow-sm">
                        <p>{{ object.amount }}</p>
                    </div>
                </div>

                <div class="sm:col-span-2">
                    <label for="state" class="block text-sm font-medium leading-5 text-gray-700">
                        Type
                    </label>
                    <div class="mt-1 rounded-md shadow-sm">
                        <p>{{ object.transaction_type }}</p>
                    </div>
                </div>
                
                <div class="sm:col-span-4">
                    <label for="about" class="block text-sm font-medium leading-5 text-gray-700">
                        Description
                    </label>
                    <div class="mt-1 rounded-md shadow-sm">
                        <p>{{ object.description }}</p>
                    </div>
                </div>

                <div class="sm:col-span-4">
                    <label for="email" class="block text-sm font-medium leading-5 text-gray-700">
                        Menu Items
                    </label>
                    <div class="mt-1 rounded-md shadow-sm">
                        <p>{{ object.menu_items }}</p>
                    </div>
                </div>

                <div class="sm:col-span-2">
                    <label for="city" class="block text-sm font-medium leading-5 text-gray-700">
                        Submitted
                    </label>
                    <div class="mt-1 rounded-md shadow-sm">
                        <p>{{ object.submitted }}</p>
                    </div>
                </div>

                <div class="sm:col-span-2">
                    <label for="city" class="block text-sm font-medium leading-5 text-gray-700">
                        Completed
                    </label>
                    <div class="mt-1 rounded-md shadow-sm">
                        <p>{{ object.completed }}</p>
                    </div>
                </div>

                <div class="sm:col-span-2">
                    <label for="city" class="block text-sm font-medium leading-5 text-gray-700">
                        Beginning Balance
                    </label>
                    <div class="mt-1 rounded-md shadow-sm">
                        <p>{{ object.beginning_balance }}</p>
                    </div>
                </div>

                <div class="sm:col-span-2">
                    <label for="city" class="block text-sm font-medium leading-5 text-gray-700">
                        Ending Balance
                    </label>
                    <div class="mt-1 rounded-md shadow-sm">
                        <p>{{ object.ending_balance }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
