{% extends "user/base_user.html" %}
{% block user-content %}
{% include 'includes/messages.html' %}
<div class="mt-4 p-8 bg-white">
  <div class="mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <p class="text-base leading-6 text-indigo-700 font-semibold tracking-wide uppercase">
        {% now "l, F jS" %}
      </p>
      <div class="lg:text-center">
        <h3 class="mt-8 mb-16 text-2xl leading-7 font-bold text-gray-900 sm:text-3xl lg:mx-auto">
          The cafeteria is currently closed for the summer.
        </h3>
      </div>
    </div>
  </div>
  {% endblock %}
</div>