{% extends "user/base_user.html" %}
{% block user-content %}
{% include 'includes/messages.html' %}
<div class="mt-4 mx-auto bg-white overflow-hidden shadow sm:rounded-lg sm:max-w-2xl">
  <div class="px-4 py-5 sm:px-10 sm:py-6">
    <div class="lg:text-center">
      {% if not orders_open %}
        <h3 class="mt-8 mb-16 text-xl leading-7 font-bold text-gray-900 sm:text-2xl lg:mx-auto">
          Sorry, the cafeteria is no longer accepting<br/>orders today.
        </h3>
      {% elif debt_exceeded %}
        <h3 class="mt-8 text-xl leading-7 font-bold text-gray-900 sm:text-2xl lg:mx-auto">
          Your lunch account balance has exceeded the debt limit of <span class="text-red-700">$-{{ debt_limit }}</span>. You will not be able to place an order until funds have been added<br />to your account.
        </h3>
        <p class="text-l mt-6 mb-8 leading-7 text-gray-900 sm:text-xl lg:mx-auto">
          You may add funds to your lunch account by either sending a check or cash to the cafeteria or using <a class="text-indigo-700 underline" href="https://pay.cornerstone.cc/nrcaknights+lunch" target="_blank">this online form</a> to pay by credit card.
          Please allow up to 24 hours for funds to be added to the account.
        </p>
    </div>
      {% elif not user %}
          <svg xmlns="http://www.w3.org/2000/svg" class="text-md text-center text-gray-300" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <circle cx="12" cy="14" r="7"></circle>
            <path d="M12 11v-6a2 2 0 0 1 2 -2h2v1a2 2 0 0 1 -2 2h-2"></path>
            <path d="M10 10.5c1.333 .667 2.667 .667 4 0"></path>
          </svg>           
    </div>
      {% else %}
        <h3 class="text-xl leading-8 font-bold tracking-tight text-gray-900 sm:text-2xl sm:leading-10">
          Lunch Order for {% now "l, F jS" %}
        </h3>
        <p class="text-sm">
          Please select the item you would like to order from the drop-down menu below. Tap on the add item button to add additional items to your order.
        </p>
    </div>

    {% if menu_items %}
      <form method="POST" action="" class="mt-5" id="lunch-order-form">
        {% csrf_token %}
        {{ formset.management_form }}
          <div id="order-formset">
            {% for form in formset %}
              <div class="menu-item-row mt-4">
                <label for="{{ form.menu_item.html_name }}" class="block text-sm font-medium text-gray-700">{{ form.menu_item.label }}</label>
                <div class="mt-1 flex items-center">
                  <div class="mr-2">
                    {{ form.menu_item }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        <div class="flex items-start justify-between">
          <button type="button" id="add-item" class="mt-6 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-green-600 hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
            <!-- Tabler name: icons/plus-->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <line x1="12" y1="5" x2="12" y2="19" />
              <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
            <span>Add Item</span>
          </button>
          <div>
            <button type="submit" id="submit-button" class="mt-6 inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Submit Order
            </button>
          </div>
        </div>
      </form>
      
    {% else %}
      <h4 class="mt-2 lg:text-center font-bold tracking-tight text-gray-900 sm:leading-10">
        There are no lunch items available today.
      </h4>
    {% endif %}
          {% endif %}
  </div>
</div>

{% comment %} Template for adding additional menu items. {% endcomment %}
<div id="empty-menu-item-row"  style="display:none">
  <div class="menu-item-row mt-4">
    <label for="{{ formset.empty_form.menu_item.html_name }}" class="block text-sm font-medium text-gray-700">{{ formset.empty_form.menu_item.label }}</label>
    <div class="mt-1 flex items-center">
      <div class="mr-2">
        {{ formset.empty_form.menu_item }}
      </div>
      <button type="button" class="remove-item inline-flex items-center p-1 border border-transparent rounded-full shadow-sm text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
        <!-- Tabler name: icon/x-->
        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      </button>
    </div>
  </div>
</div>
{% endblock %}


{% block end-scripts %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script type='text/javascript'>
  $('#lunch-order-form').submit(function(e) {
    $('#submit-button').attr('disabled', true);
  });

$('#add-item').on('click', function(e){
  e.preventDefault()
  var form_index = $('#id_order_form-TOTAL_FORMS').val();
  $('#order-formset').append($('#empty-menu-item-row').html().replace(/__prefix__/g, form_index));
  $('#id_order_form-TOTAL_FORMS').val(parseInt(form_index) + 1);
});

$(document).on('click', '.remove-item', function(e) {
  e.preventDefault()
  var form_index = $('#id_order_form-TOTAL_FORMS').val();
  $(this).closest('.menu-item-row').remove();
  $('#id_order_form-TOTAL_FORMS').val(parseInt(form_index) - 1);
  var forms = $('.menu-item-row')
  for (i=0, formCount=forms.length; i<formCount; i++) {
    $(forms.get(i)).find('label').attr('for', 'order_form-' + i + '-menu_item');
    $(forms.get(i)).find('select').attr('name', 'order_form-' + i + '-menu_item');
    $(forms.get(i)).find('label').attr('id', 'id_order_form-' + i + '-menu_item');
}
});
</script>
{% endblock %}